div {
    width: 600px;
    background-color: #eee;
    display: flex;
    flex-flow: column wrap;
    margin: 20PX auto;
    height: 50px;
    position: relative;
    
    }
    input {
        height: 100%;
        width: 100%;
        border: none;
        background-color: #eee;
        font-size: 30px;
        
    }
    input:focus {
        outline: none;
    
    }
    
    div::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        top:100%;
        bottom: -10px;
        background-image: linear-gradient(to right,
        #f44336 50%,
        lightseagreen 50%)
    }
    