.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px 10px;
    margin: 0 auto;
    
  }
  .grid div {
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .one {
    grid-area: 1/1/1/4;
    grid-row: 6;
  }
  .two {
    grid-area: 2/1/2/3;
  }
  .five {
    grid-area: 3/2/6/4;
  }
  .eight {
    grid-area: 6/1/6/4;
    grid-row: 1;
  }
  
  