div {
    background-color: azure;
    margin-top: 50px;
    padding: 20px;
    width: 400px;
    font-size: 30px;
}
.three{
    background-color: aqua;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;


}
a {
    background-color: #009688;
    color: white;
    text-decoration: none;
    font-size: 100px;
    padding: 30px 100px;
    margin-left: 50%;
    border-bottom:solid 30px rgb(0,81,74);
}