div{
    width: 400px;
    background-color: aliceblue;
    height: 50px;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
        
}

.shape1 {
    border-left: solid 10px red;
}
.shape2{
    visibility: hidden;
}
.shape3 {
    border-left:solid 10px green;
    
}

