/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
  }
   */
  div {
    border: solid 3px var(--mainColor , black);
    padding: var(--mainPadding , 10px);
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    color: var(--mainColor ,red );
    
    
    
  }